@page "/"
@using Backend.Service
@inject SessionService Session

@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>
<h1>Welcome to TaskTrackPro!</h1>

<p>Visualize your critical path, optimize your workflow, and deliver on time with TaskTrackPro</p>
@if (!Session.IsLoggedIn())
{
    <button class="btn btn-primary" @onclick="GoToLoginUser">Sign In</button>
}
else
{
    <button class="btn btn-primary" @onclick="GoToHome">Logout</button>
}


@code {

    void GoToLoginUser()
    {
        NavigationManager.NavigateTo("/LoginUser", true);
    }

    private void GoToHome()
    {
        Session.Logout();
        NavigationManager.NavigateTo("/", true);
    }

}