@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>
<h1>Welcome to TaskTrackPro!</h1>

<p>Visualize your critical path, optimize your workflow, and deliver on time with TaskTrackPro</p>

<button class="btn btn-primary" @onclick="GoToLoginUser">Sign In</button>
<button class="btn btn-primary" @onclick="GoToRegisterUser">Create User</button>

@code {

    void GoToRegisterUser()
    {
        NavigationManager.NavigateTo("/RegisterUser" ,true);
    }

    void GoToLoginUser()
    {
        NavigationManager.NavigateTo("/LoginUser", true);
    }
}